{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - head_title_array: List of text elements that make the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page: The rendered page markup.
 * - db_is_active: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title_array|safe_join(' | ') }}</title>
    <link rel="stylesheet" media="all" href="/{{ sm_status_page.resource_path }}/assets/css/sm_status_page.css"/>
  </head>
  <body{{ attributes }}>
    {{ page }}
  </body>
</html>
