{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_sm_status_page()
 * @see html.html.twig
 */
#}
<header role="banner">
  <div class="page_title--wrapper">
    <div class="page_title__container">
      <h1>{{ page.header.title }}</h1>
    </div>
  </div>
  <div class="nav--wrapper">
    <div class="nav__container">
      <section role="nav">
        {% for link in page.header.menu %}
          <a href="{{ link.url }}"{{ link.class }}>{{ link.text }}</a>
        {% endfor %}
      </section>
    </div>
  </div>
  <div class="header--wrapper">
    <div class="header__container">
      <div class="header__left">
        {{ page.header.title_image }}
      </div>
      <div class="header__right">
        <h2>{{ page.header.title_status }}</h2>
        <div class="last-checked">{{ page.header.last_checked }}</div>
      </div>
    </div>
  </div>
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>

  <div class="content--wrapper">
    <div class="content__container">
      {% if page.content.timeline is not empty %}
      <div class="timeline">
        <div class="timeline__header">
          <div class="timeline__header--left">
            <h3>{{ page.content.timeline.title }}</h3>
            <div class="timeline__header--timespan">{{ page.content.timeline.timespan }}</div>
          </div>
          <div class="timeline__header--right">
            <div class="timeline__header--statuses">
              {% for key, status in page.content.timeline.statuses %}
                <div class="status status--{{ key }}">{{ status }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="timeline__content--wrapper">
          <div class="timeline__content--container">
            <div class="timeline__slider"></div>
            <div class="timeline__month-labels">{{ page.content.timeline.events.months }}</div>
            <div class="timeline__incident-data">{{ page.content.timeline.events.items }}</div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if page.content.cards is not empty %}
      <div class="cards">
        {% for card_id, card in page.content.cards.items %}
        <div id="{{ card_id }}" class="card__container">
          <div class="card__overview">
            <div class="card__status">
              {{ card.status }}
            </div>
            <img src="{{ card.image }}"/>
            <h4>{{ card.title }}</h4>
          </div>
          <div class="card__detail">
            {% set detail = card.detail %}
            <h5>{{ page.content.cards.description_label }}</h5>
            {{ detail.description }}
            {% for group in card.grouped_tasks %}
            <h5>{{ group.title }}</h5>
            <div class="task__list">
            {% for task in group.tasks %}
              <div class="task__list--row">
                <div class="title">
                  {{ task.title }}
                </div>
                {{ task.status }}
              </div>
            {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <div class="issues">
        <div class="issues__header">
          <h3>{{ page.content.history.title }}</h3>
        </div>
        <div class="issues__content">
        {% for issue_set in page.content.history.issues %}
          {% for issue in issue_set %}
          {% set class = issue.status.resolution|lower %}
          <div class="issues__content--incident">
            <div class="incident__header--wrapper">
              <h4>{{ issue.title }}</h4>
              <div class="incident__resolution incident__resolution--{{ class }}">
                {{ issue.status.resolution }}
              </div>
            </div>
            <div class="incident__status--wrapper">
              <div class="incident__status incident__status--{{ class }}">
                {{ issue.status.active_status }}
              </div>
              <div class="incident__date incident__date--{{ class }}">
                {{ issue.timestamp }}
              </div>
            </div>
            <div class="incident__description">
              {{ issue.description }}
            </div>
          </div>
          {% endfor %}
        {% endfor %}
        {% if page.content.history.issues is empty %}
          <div class="issues__content--empty">
            {{ page.content.history.no_issues }}
          </div>
        {% endif %}
        </div>
      </div>
      {% if page.content.pager is not empty %}
      {% set size_values = [5, 15, 25, 50] %}
      <div class="issues-pager--wrapper">
        <div class="issues-pager-links--wrapper">
          <div class="issues-pager-links--container">
            {% if page.content.pager.back is null %}
              <span class="issues-pager-link--no-link"><</span>
            {% else %}
              <a class="issues-pager-link" href="{{ url }}?page={{ page.content.pager.back }}&size={{ page.content.pager.query.size }}"><</a>
            {% endif %}
            {{ dump(page.content.pager) }}
            {% for page_number in page.content.pager.pages %}
              {% if page.content.pager.query.page == page_number %}
                <span class="issues-pager-link--no-link issues-page-number">{{ page_number }}</span>
              {% else %}
                <a class="issues-pager-link issues-page-number" href="{{ url }}?page={{ page_number }}&size={{ page.content.pager.query.size }}">{{ page_number }}</a>
              {% endif %}
            {% endfor %}
            {% if page.content.pager.next is null %}
              <span class="issues-pager-link--no-link">></span>
            {% else %}
              <a class="issues-pager-link" href="{{ url }}?page={{ page.content.pager.next }}&size={{ page.content.pager.query.size }}">></a>
            {% endif %}
          </div>
        </div>
        <div class="issues-pager-operations">
          <div class="issues-pager-size--wrapper">
            <form action="{{ page.content.pager.url }}">
              <span class="form-label">{{ 'Records per page'|t }}</span> <span class="sm-status-select">
              <span class="form-fields">
                <select name="size">
                  {% for size_value in size_values %}
                  <option value="{{ size_value }}"{{ (size_value == page.content.pager.query.size) ? " selected" : '' }}>{{ size_value }}</option>
                  {% endfor %}
                </select></span>
                <input type="hidden" name="page" value="{{ page.content.pager.query.page }}"></input>
                <input type="submit" value="{{ 'Apply'|t }}" class="form-submit"></input>
              </span>
            </form>
          </div>
          <div class="issues-pager-page--wrapper">
            <form action="{{ page.content.pager.url }}">
              <span class="form-label">{{ 'Go to page'|t }}</span>
              <span class="form-fields">
                <input type="number" step="1" min="1" max="{{ page.content.pager.total_pages }}" name="page" class="form-input"></input>
                <input type="hidden" name="size" value="{{ page.content.pager.query.size }}"></input>
                <input type="submit" value="{{ 'Go'|t }}" class="form-submit"></input>
              </span>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% if page.content.history.link is not empty %}
      <div class="issues-links--wrapper">
        <div class="issues-links__container">
          <a href="{{ page.content.history.link.url }}" class="button button--history">{{ page.content.history.link.text }}</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

</main>

{% if page.footer %}
  <footer role="contentinfo">
    <div class="footer--wrapper">
      <div class="footer__container">
        <div class="footer-left">
          {% if page.footer.logo is not empty%}
            <img src="{{ page.footer.logo }}" class="footer-logo"/>
          {% endif %}
        </div>
        <div class="footer-right">
          {% if page.footer.menu is not empty %}
          <ul class="footer-menu">
            {% for link in page.footer.menu %}
              <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="footer-copyright">
            {{ page.footer.copyright }}
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endif %}

{{ attach_library('sm_status_page/sm_status_page.main') }}
