body {
  margin: 0;
  padding: 0;
}

header {
  margin-bottom: 30px;
}

body.sm-status-page {
  background-color: #f9fbfb;
  font-family: Helvetica, Arial, sans-serif;
}

header h1 {
  font-weight: 700;
  margin: 40px 0 20px;
  font-size: 2.5rem;
}

.content__container .timeline,
.content__container .card__container,
.content__container .issues {
  border-color: #99b0ba;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 5px rgba(175, 175, 175, 0.75);
  margin-bottom: 30px;
}

.content__container .cards .card__container {
  display: flex;
}

.content__container .cards .card__container .card__overview,
.content__container .cards .card__container .card__detail {
  padding: 1.3rem 1.6rem;
}

.content__container .cards .card__container .card__overview {
  background: #edf2f4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right-color: #99b0ba;
  border-right-style: solid;
  border-right-width: 1px;
  position: relative;
  width: 30%;
}

.content__container .cards .card__container .card__detail {
  width: 100%;
}

.card__detail .task__list {
  border-color: #99b0ba;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
}

.card__detail .task__list--row {
  border-bottom-color: #99b0ba;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
}

.card__detail .task__list--row > div {
  padding: 15px;
}

.card__detail .task__list--row:last-child {
  border: 0;
}

.page_title__container,
.nav__container,
.header__container,
.content__container,
.footer__container,
.issues-links__container {
  margin: 0px auto;
}

.nav--wrapper {
  background-color: #007e9a;
}

.footer__container {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__container .footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__container .footer-menu li a {
  font-weight: 500;
  margin-right: 30px;
}

.footer__container a,
.nav__container a {
  display: inline-block;
  color: #ffffff;
  margin: 0;
}

.nav__container a {
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.nav__container a.active {
  background-color: #edf2f4;
  color: #000000;
}

.nav__container a:hover,
.nav__container a:active {
  background-color: #f9fbfb;
  color: #000000;
}

.footer__container a:hover,
.footer__container a:active {
  color: #ffffff;
}

.header--wrapper {
  background-color: #edf2f4;
}

.header__container {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 7rem;
  display: flex;
  align-items: center;
}

.header__container h2 {
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0 0 8px 0;
}

.header__container .header__left img {
  width: 75px;
  padding-right: 15px;
}

.header__container .last-checked {
  font-style: italic;
}

.footer--wrapper {
  background-color: #002635;
  color: #ffffff;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0.25rem 0.4rem;
  font-size: 0.8rem;
}

.footer-right .footer-copyright {
  font-weight: 100;
}

.status {
  text-transform: uppercase;
}

.timeline__header,
.issues__header {
  align-items: center;
  background: #edf2f4;
  border-bottom-width: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.6rem;
}

.timeline__header--left h3,
.issues__header h3 {
  font-size: 1rem;
  margin: 0 1rem 0 0;
  padding: 0;
  line-height: inherit;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.timeline__header--timespan {
  display: inline-block;
}

.timeline__header--statuses {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0.25rem 0.4rem;
}

.timeline__header--statuses .status::before {
  content: '';
  color: #000000;
  display: inline-block;
  margin-right: 0.3rem;
  height: 0.9rem;
  width: 0.9rem;
}

.timeline__header--statuses .status {
  padding: 0 0 0 20px;
  font-size: 0.9rem;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.timeline__header--statuses .status--healthy::before {
  background-color: #00866c;
}

.timeline__header--statuses .status--outage::before {
  background-color: #e41503;
}

.timeline__header--statuses .status--issue::before {
  background-color: #fdb713;
}

.timeline__content--wrapper {
  padding: 1.3rem 1.6rem;
}

.timeline__content--wrapper .timeline__month-labels {
  display: flex;
  font-size: 0.7rem;
  color: #888888;
  text-transform: uppercase;
  margin-top: -35px;
  height: 50px;
}

.timeline__content--wrapper .timeline__month-label {
  position: relative;
}

.timeline__content--wrapper .timeline__month-label--border {
  border-left-color: rgb(136, 136, 136);
  border-left-style: dotted;
  border-left-width: 1px;
}

.timeline__content--wrapper .timeline__month-label div {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.issues__content {
  padding: 1.3rem 0;
}

.issues__content .issues__content--incident,
.issues__content .issues__content--empty {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.issues__content .issues__content--incident {
  border-bottom: 1px solid #99b0ba;
  margin-bottom: 1.3rem;
  padding-bottom: 1.3rem;
}

.issues__content .issues__content--incident:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.timeline__content--wrapper,
.card__container,
.issues__content {
  border-color: #99b0ba;
  border-style: solid;
  border-top-width: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.timeline__slider {
  width: 100%;
  height: 1.2rem;
  background: #00866c;
  box-shadow: 0 1px 5px rgba(90, 90, 90, 0.6);
  margin: 1rem 0;
}

.timeline__content--container {
  position: relative;
}

.timeline__incident-data {
  display: flex;
  position: absolute;
  top: -0.4rem;
  left: 0;
  width: 100%;
}

.timeline__incident-status {
  height: 2rem;
  display: flex;
  box-shadow: 0 1px 5px rgba(90, 90, 90, 0.6);
}

.timeline__incident-status--issue,
.timeline__incident-status--downtime {
  height: 100%;
  margin: 0;
  border: 0;
}

.timeline__incident-status--issue {
  background-color: #fdb713;
}

.timeline__incident-status--downtime {
  background-color: #e41503;
}

.timeline__incident--wrapper {
  position: relative;
}

.timeline__incident--wrapper .timeline__tooltip {
  display: inline-block;
  border: 1px solid #99b0ba;
  visibility: hidden;
  width: 225px;
  background-color: #ffffff;
  color: #888888;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 135%;
  left: 50%;
  margin-left: -45px;
  box-shadow: 0 2px 5px rgba(175, 175, 175, 0.75);
}

.timeline__incident--wrapper .timeline__tooltip .timeline__incident-title {
  border-top: 1px dotted grey;
  color: #007e9a;
  margin-top: 5px;
  padding-top: 5px;
}

.timeline__incident--wrapper .timeline__tooltip .timeline__incident-title:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.timeline__incident--wrapper .timeline__tooltip .tooltiptext::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 25%;
  margin-left: -15px;
  border: solid #99b0ba;
  border-width: 0 1px 1px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.timeline__incident--wrapper .timeline__tooltip .tooltiptext {
  font-size: 0.8rem;
  text-align: left;
}

.timeline__incident--wrapper:hover .timeline__tooltip,
.timeline__incident--wrapper:hover .timeline__tooltip .tooltiptext {
  visibility: visible;
}

.timeline__incident--wrapper .timeline__highlight {
  visibility: hidden;
}

.timeline__incident--wrapper:hover .timeline__highlight {
  visibility: visible;
  display: block;
  width: 100%;
  height: 130%;
  top: -15%;
}

.timeline__incident--wrapper.timeline__incident-status--issue .timeline__highlight {
  position: relative;
  background: #e69407;
}

.timeline__incident--wrapper.timeline__incident-status--downtime .timeline__highlight {
  position: relative;
  background: #9c0c01;
}

.timeline__message {
  border-left-width: 3px;
  border-left-style: solid;
  border-bottom: dashed 1px gray;
  padding: 8px;
}

.timeline__message:last-child {
  border-bottom: 0px;
}

.timeline__message--issue {
  border-left-color: #fdb713;
}

.timeline__message--downtime {
  border-left-color: #e41503;
}

.card__container {
  position: relative;
  border-radius: 10px;
}

.card__container h4 {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.75rem;
  text-align: center;
  margin: 0.4rem 0;
}

.card__detail.active {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 986px;
  border-color: #99b0ba;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 5px rgba(175, 175, 175, 0.75);
}

.card__detail h5 {
  font-size: 0.8rem;
  margin: 1rem 0 0.25rem;
  text-transform: uppercase;
}

.card__detail h5:first-child {
  margin: 0 0 0.25rem;
}

.card__container .card__status .status {
  font-size: 0.7rem;
  padding: 0.6rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 25%;
}

.card__container .card__detail .status {
  width: 15%;
  text-align: center;
}

.card__container .card__status .status--healthy,
.card__container .card__detail .status--healthy {
  background-color: #00866c;
  color: #ffffff;
}

.card__container .card__status .status--issue,
.card__container .card__detail .status--issue {
  background-color: #fdb713;
  color: #000000;
}

.card__container .card__status .status--downtime,
.card__container .card__detail .status--downtime {
  background-color: #e41503;
  color: #ffffff;
}

.card__container img {
  margin: 0 auto 1rem;
  display: block;
  max-height: 60px;
}

.incident__date {
  white-space: nowrap;
}

.incident__header--wrapper h4,
.incident__resolution--resolved,
.incident__status--resolved,
.incident__date--resolved {
  color: #007e9a;
}

.incident__resolution--unresolved,
.incident__status--unresolved,
.incident__date--unresolved {
  color: #e41503;
}

.issues__content--incident {
  position: relative;
}

.incident__content--wrapper {
  flex-basis: 75%;
}

.incident__header--wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 11rem 10px 0;
}

.incident__header--wrapper h4 {
  margin: 0;
}

.incident__status--wrapper {
  position: absolute;
  right: 1.6rem;
  display: block;
  top: 0;
  width: 16%;
}

.incident__description {
  margin-right: 11rem;
}

.incident__resolution {
  text-transform: uppercase;
}

.incident__status {
  margin: 0 0 10px;
}

.issues-links--wrapper {
  margin: 0 auto 5rem;
  display: flex;
}

.issues-pager--wrapper {
  display: display;
  justify-content: space-around;
  margin: 1.5rem 0;
  align-content: baseline;
}

.issues-pager-links--wrapper {
  display: block;
  width: 100%;
  margin: 0 auto 15px;
}

.issues-pager--wrapper .sm-status-select {
  position: relative;
}

.sm-status-select select {
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
  background-color: white;
  border: 1px solid #99b0ba;
  color: #007e9a;
  line-height: 1.15rem;
  appearance: none;
  padding: 0.5rem;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.sm-status-select select::after {
  content: '';
  border: solid #007e9a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  right: 10px;
  top: 0.2rem;
}

/* For IE <= 11 */
.sm-status-select select::-ms-expand {
  display: none;
}

.issues-pager-links--wrapper > a,
.issues-pager-links--wrapper > span {
  border: 1px solid #99b0ba;
  margin-right: 0.25rem;
}

.issues-pager-links--wrapper > a:last-child,
.issues-pager-links--wrapper > span:last-child {
  margin-right: 0;
}

a.issues-pager-link {
  padding: 0.5rem 1rem;
  background-color: #007e9a;
  color: white;
  text-decoration: none;
  display: inline-block;
}

span.issues-pager-link--no-link {
  padding: 0.5rem 1rem;
  background-color: white;
  color: #007e9a;
  display: inline-block;
}

.issues-pager-size--wrapper .form-submit,
.issues-pager-page--wrapper .form-input,
.issues-pager-page--wrapper .form-submit {
  border: 1px solid #99b0ba;
  padding: 0.5rem;
  font-size: 100%;
  box-shadow: 0 1px 5px rgba(90, 90, 90, 1);
}
.issues-pager-size--wrapper .form-submit,
.issues-pager-page--wrapper .form-input,
.issues-pager-page--wrapper .form-submit,
.sm-status-select select,
.issues-pager-link,
span.issues-pager-link--no-link {
  box-shadow: 0 1px 5px rgba(90, 90, 90, 0.4);
}

.issues-pager-page--wrapper .form-input {
  width: 40px;
  line-height: 1rem;
}

.issues-pager-size--wrapper .form-submit,
.issues-pager-page--wrapper .form-submit {
  background-color: #007e9a;
  color: white;
}

main .button {
  background-color: #007e9a;
  color: #ffffff;
  box-shadow: 0 1px 5px rgba(90, 90, 90, 1);
  background-image: none;
  border: 0;
  border-radius: 0.4rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  text-decoration: none;
}

main .button:hover,
main .button:active {
  box-shadow: 0 1px 5px rgba(175, 175, 175, 1);
}

main .button--history {
  padding-left: 4rem;
  padding-right: 4rem;
  align-items: center;
  justify-content: center;
}

.issues_footer {
  display: flex;
}

@media (min-width: 1200px) {

  .page_title__container,
  .nav__container,
  .header__container,
  .content__container,
  .footer__container {
    width: 986px;
  }

  .issues-pager--wrapper {
    position: relative;
  }

  .issues-pager-links--wrapper {
    position: absolute;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {

  .page_title__container,
  .nav__container,
  .header__container,
  .content__container,
  .footer__container {
    width: 600px;
  }

  .incident__status--wrapper {
    width: 10rem;
  }
}

@media (min-width: 768px) {

  .issues-pager-operations {
    display: flex;
    justify-content: space-between;
  }

  .issues-pager-links--wrapper {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
  }

  .issues-pager-links--container {
    display: block;
    text-align: center;
  }

}

.issues-pager-links--container {
  display: block;
  text-align: center;
}

@media (max-width: 495px) {

  .issues-pager-size--wrapper form,
  .issues-pager-page--wrapper form {
    display: flex;
    flex-flow: column;
  }

  .form-label {
    margin-bottom: 5px;
  }

  .header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  header h1 {
    margin-top: 25px;
  }

  .timeline__header,
  .issues__header,
  .timeline__content--wrapper,
  .content__container .cards .card__container .card__detail {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .timeline__header {
    flex-flow: column;
  }

  .timeline__header--statuses .status::before {
    height: 0.6rem;
    width: 0.6rem;
  }

  .timeline__header--statuses .status {
    font-size: 0.6rem;
    padding-left: 10px;
  }

  .timeline__header--statuses .status:first-child {
    padding-left: 0;
  }

  .task__list--row {
    flex-flow: column;
  }

  .task__list--row div {
    width: 100%;
  }
}

@media (max-width: 767px) {

  .page_title--wrapper,
  .header--wrapper,
  main {
    padding-right: 15px;
    padding-left: 15px;
  }

  .timeline__incident--wrapper .timeline__tooltip {
    display: none;
  }

  .issues-pager-operations {
    display: flex;
    justify-content: space-between;
  }

  .issues__content--incident {
    display: flex;
    flex-flow: column;
  }

  .incident__header--wrapper {
    margin-right: 0;
  }

  .incident__status--wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row;
    right: inherit;
  }

  .incident__status--wrapper .incident__status {
    margin-right: 15px;
  }

  .incident__description {
    margin-right: 0;
  }

  .card__container .card__detail .task__list--row > div {
    padding: 10px;
    width: unset;
  }

  .card__container .card__detail .task__list--row .status {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8rem;
  }

  main .button--history {
    padding-left: 2rem;
    padding-right: 2rem;
    display: block;
    text-align: center;
  }
}

@media (max-width: 1199px) {

  .content__container .cards .card__container {
    display: block;
  }

  .content__container .cards .card__container .card__overview,
  .card__container .card__status .status {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-right: 0;
  }

  .card__container .card__detail .status {
    font-size: 0.9rem;
    width: 20%;
  }

  .content__container .cards .card__container .card__overview,
  .content__container .cards .card__container .card__detail {
    padding: 1.3rem;
    width: auto;
  }

  .footer__container,
  .footer-right,
  .footer__container .footer-menu {
    display: block;
    line-height: 1.75rem;
    font-size: 1rem;
  }
}
