.status-page-refresh-wrapper {
  display: flex;
}

.status-page-refresh-wrapper .form-item {
  flex-flow: row;
  justify-content: space-around;
  width: 150px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
