.icon-wrapper .icon-display-wrapper {
  float: left;
  background-color: #eee;
  width: 5.75rem;
  height: 5.75rem;
  margin-right: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  color: #444;
}

.icon-wrapper .icon-display-wrapper span {
  display: flex;
  -webkit-mask-size: 4.25rem 4.25rem;
  mask-size: 4.5rem 4.5rem;
  -webkit-mask-position: 50% 50%;
  mask-position: 50% 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  width: 5.75rem;
  height: 5.75rem;
}

.icon-wrapper .icon-display-wrapper .icon-active {
  background-color: #444;
}

.form-item--description {
  clear: both;
}
